# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:


1. Python
2. Java
3. Sql

**Objectives**
- Add Comments to code cells
- Create Markdown cells
- Add ordered and unordered lists to markdown cells

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Metplotlib


| Data Science Tools |
| --------- |
| Jupyter Notebook    |
| Anaconda       |
| Metplotlib   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
 (3*4)+5

17

In [2]:
# Converting number of hours to minutes
200//60

3

## Author
Balamurugan